<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBorService" />
            </basicHttpBinding>

        </bindings>
        <client>
            <endpoint address="http://localhost:8080/BorService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBorService" contract="BorServiceReference.IBorService"
                name="BasicHttpBinding_IBorService" />

        </client>
    </system.serviceModel>
  <system.net>
    <connectionManagement>
      <add maxconnection="200" address=""/>
    </connectionManagement>
  </system.net>
</configuration>